#textid{
    
    text-align: center;
    color: rgb(115, 181, 235);

}
#Img{
   
    text-align: center;
 
}
.a{
    text-align: center;
}

#links{
    text-align: center;
}

#prueba{
    text-align: center;
    color: aqua;
}

#map{
    text-align: center;
   
  /*order: 3px solid blue;*/
}